nav {
 background-color: #ff0;
}

.ul {
  background-color: blanchedalmond;
  display: flex;
  justify-content:space-around;
  text-decoration: none;
  list-style-type: none;
  max-width: 1000px;
}

li {
  
}

a {
  text-decoration: none;
}
